@{
    ViewData["Title"] = "Erreur";
}

<div class="text-center my-5">
    <h1 class="display-4">💥 Oups</h1>
    <p class="lead">Une erreur inattendue est survenue.</p>

    <a class="btn btn-primary mt-3" href="@Url.Action("Index","Comics")">
        ⬅️ Retour à l’accueil
    </a>
</div>
